h1 {
  text-align: center;
}
.button-container {
  display: flex;
  justify-content: space-around;
  margin: 60px auto;
  width: 200px;
}
.person-container {
  margin: 40px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
